.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  width: 100%;

  @include mq(mobile) {
    width: 320px;
  }

  @include mq(tablet) {
    width: 720px;
  }

  @include mq(desktop) {
    width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
