:root {
  // background colors
  --main-bg-cl: #ffffff;
  // borders colors
  --border-cl-green: #179d2e;
  --border-cl-yellow: #f5af23;
  --border-cl-blue: #0177b8;
  --border-cl-red: #f02e2c;
  // text colors
  --title-cl: #181833;
  --text-cl: #2d2d2d;
  --link-cl: #2d2d2d;
}
