<section class="main">
  <div class="container">
    <!-- Cards list -->
    <ul class="list">
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-tap"></use>
          </svg>
          <h3 class="card-title">Plumbing</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace a Toilet</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace a Faucet</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Fix a Leaking</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace a Sink</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Repair Under Sink Plumbing</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-paint"></use>
          </svg>
          <h3 class="card-title">Drywall & painting</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Install Drywall</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Patch and Paint Drywall</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Paint a Wall / Trim</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Paint or Stain A Fence</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Paint a Cabinet Door</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-sofa"></use>
          </svg>
          <h3 class="card-title">Furniture assembly</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Assemble Fitness Equipment</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Assemble - Custom Request</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Assemble a TV Stand</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Assemble Pet Furniture</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Assemble a Bar Cabinet</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-electrical"></use>
          </svg>
          <h3 class="card-title">Electrical</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace a Ceiling Fan</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Replace Switch & Outlet Faceplate</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Upgrade to a Video Doorbell</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace an Bathroom Exhaust Fan</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-door"></use>
          </svg>
          <h3 class="card-title">Doors & windows</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace New Door</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace a Screen Door</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install / Replace a Window Screen</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Repair a Door Frame</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-picture"></use>
          </svg>
          <h3 class="card-title">Hanging & mounting</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Mount a TV</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Remove a TV Mount from Wall</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Mount and Hang a Projector Screen</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Hang a Bathroom Fixture</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-instalation"></use>
          </svg>
          <h3 class="card-title">Appliance installation</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Replace an Existing Dishwasher</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Replace an Existing Microwave</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Replace an Existing Oven</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-home"></use>
          </svg>
          <h3 class="card-title">Smart home</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Install a Smart Lock</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install a Smart Home Security Camera</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Mount a Baby Monitor Camera on the Wall</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install an Under Sink Water Filtration System</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>
      <li class="list-item">
        <div class="card">
          <svg width="94px" height="100px" class="card-icon">
            <use href="./images/sprite.svg#icon-window"></use>
          </svg>
          <h3 class="card-title">Outdoor</h3>
          <ul class="card-list">
            <li class="card-list--item">
              <p class="card-list--text">Assemble an Outdoor Trampoline</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Hang a Garage Shelving Unit</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install Outdoor Decorative Exterior Window Shutters</p>
            </li>
            <li class="card-list--item">
              <p class="card-list--text">Install a Storm Door</p>
            </li>
          </ul>
          <div class="card-link--wrapper">
            <a href="#" class="card-link">
              View more
            </a>
          </div>

        </div>
      </li>

    </ul>
  </div>
</section>